<%- include("partials/header", { title: username + "'s Profile", user }) %>

<div class="container">
  <h2>Profile of <%= username %></h2>
  <div class="card">
    <h2><%= username %></h2>
    <p>Joined on: <%= new Date(joinDate).toLocaleDateString() %></p>
  </div>
</div>
