<h1>Welcome <%= user.username %></h1>
<a href="/chat">Enter Chat</a>
<a href="/user/profile">Profile</a>
<a href="/logout">Logout</a>

<% if (user.isAdmin) { %>
  <a href="/admin">Admin Panel</a>
<% } %>
