<!DOCTYPE html>
<html>
<head>
    <title>Socket Chat</title>
</head>
<body>
    <h1>Welcome to the Socket Chat</h1>
    <p><a href="/login">Login</a> | <a href="/signup">Sign Up</a></p>
</body>
</html>
